@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
   --font-playfair-display: "Playfair Display", serif;
   --font-inter: "Inter", sans-serif;
   --font-poppins: "Poppins", serif;
   --color-indigo-oscuro: #060124;
   --color-indigo-medio: #241B5A;
   --color-azul-claro: #BCBAFA;
   --color-morado-claro: #dadbfa;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(124, 58, 237, 0.3);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(124, 58, 237, 0.5);
  }
}